.estilo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
 
}
.estilo .separador {
  margin-right: 50px;
}

.image {
  width:5%;
   height:auto;
   margin-right: 40px;
}
.vacas, .maternidad {
  font-size: 17px;
}