<div class="basic">
    <h2> WACHITA</h2>
</div>
<br>
<br>
<br>
<br>
<app-navbar></app-navbar>
<br>
<div class="container" mb-4>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/wacha.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Registro</h2>
          <p class="card-text">Aqui puedes registrar tu <strong>vaquita</strong> desde el momento que ingresa a tu corral</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Registro</li>
          <li class="list-group-item">Traslado</li>
          
        </ul>
        <div class="card-body">
          <button type="button" class="btn btn-outline-primary mx-2">Ingresar</button>
          <button type="button" class="btn btn-outline-info">Retornar</button>
        </div>
        
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/nac_wacha.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Maternidad</h2>
          <p class="card-text">Aqui puedes registrar el seguimiento de la vaca<strong> preñada</strong> desde el 1er mes hasta el parto</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Mes</li>
          <li class="list-group-item">Alimentacion</li>
          
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-outline-primary mx-2">Ingresar</button>
            <button type="button" class="btn btn-outline-info">Retornar</button>
        </div>
        
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/inyecciones_vacuna.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Seguimiento Vacunas</h2>
          <p class="card-text">Aqui puedes hacer el seguimiento de la vacunas de tu ganado</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Vacunas</li>
          <li class="list-group-item">Aislamiento</li>
          
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-outline-primary mx-2">Ingresar</button>
            <button type="button" class="btn btn-outline-info">Retornar</button>
        </div>
        
      </div>
      
</div>
<br>
<br>

