<div class="basic">
    <h2> WACHITA</h2>
</div>
<br>
<br>
<br>
<app-navbar></app-navbar>
<br>
<div class="container" mb-4>
    <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/wacha.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Registro</h2>
          <p class="card-text">Registra aqui tu <strong>vaquita</strong> </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Registro</li>
          <li class="list-group-item">Traslado</li>
          
        </ul>
        <div class="card-body">
          <button type="button" class="btn btn-outline-primary mx-2" routerLink="/agregarw">Ingresar</button>
          <button type="button" class="btn btn-outline-info">Retornar</button>
        </div>
        
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/nac_wacha.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Maternidad</h2>
          <p class="card-text">Haz el seguimiento de la vaca<strong> preñada</strong></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Mes</li>
          <li class="list-group-item">Alimentacion</li>
          
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-outline-primary mx-2" routerLink="/agregarw">Ingresar</button>
            <button type="button" class="btn btn-outline-info">Retornar</button>
        </div>
        
      </div>

      <div class="card" style="width: 18rem;">
        <img src="../../../assets/img/inyecciones_vacuna.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Control <strong>Wachita</strong> Sana</h2>
          <p class="card-text">Registra de vacunas y otros medicamentos</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Vacunas</li>
          <li class="list-group-item">Aislamiento</li>
          
        </ul>
        <div class="card-body">
            <button type="button" class="btn btn-outline-primary mx-2" routerLink="/agregarw">Ingresar</button>
            <button type="button" class="btn btn-outline-info">Retornar</button>
        </div>
        
      </div>
      
      
</div>


<div class="card mx-auto col-sm-6 mr-auto"style="max-width: 100%;">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
<br>
<br>


  
<br>
<br>

